# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    types: [opened, synchronize]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go 1.22
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'
        cache-dependency-path: ../../go.sum
    - name: Install dependencies
      run: |
       go get ./...

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...